


body {
	margin: 0;
	padding: 0;
	background-color: #101014;
}


/*顶栏*/
.bar {
    height: 76px;
    width: 100%;
	background-color: #121216;
    top: 0;
    position: sticky;
	z-index: 2;
}

.logo {
	background-image: url("res/logo.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 15px;
	top: 15px;
}

label[for="toggle"] {
	position: absolute;
    width: 25px;
	height: 25px;
	cursor: pointer;
	color: white;
	background-image: url("res/menu.png");
	background-size: cover;
	background-position: center;
	user-select: none;
	right: 25px;
	top: 25px;
	z-index: 3;
}

input[type="checkbox"] {
	position: absolute;
	top: -100px;
	z-index: 3;
}

input[type="checkbox"]:checked ~ aside {
	right: 0;
}

input[type="checkbox"]:checked  + label{
	background-image: url("res/close.png");
}
.info {
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: black;
	right: -300px;
	top: 0;
	transition: 0.5s;
	z-index: 1;
}

.info > a {
	font-size: 20px;
	color: white;
	width: calc(80% - 10px);
	height: 60px;
	display: block;
	border: 1px solid black;
	margin-left: calc(10% - 10px);
	border-radius: 15px;
	text-decoration: none;
	transition: 0.5s;
	line-height: 55px;
	padding-left: 10px;
	margin-top: 10px;
	font-family:'YouSheShaYuFeiTeJianKangTi', serif;
}


.info :first-child {
	margin-top: 65px;
}

.info > a:hover {
	background-color: #47474a;
}


.info-A {
	width: 80%;
	height: 200px;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
}

.info-A a {
	font-family:'YouSheShaYuFeiTeJianKangTi', serif;
}

.info-A p {
	font-size: 38px;
	margin-left: 15px;
	margin-top: 5px;
	color: white;
	transition: 0.5s;
	font-family:'YouSheShaYuFeiTeJianKangTi', serif;
}

.info-button {
	width: 250px;
	height: 50px;
	font-size: 25px;
	margin-left: 10px;
	border: 1px solid blue;
	text-align: center;
	padding: 0;
	margin-top: 10px;
	background-color: #22a8e6;
	color: black;
	border-radius: 15px;
	text-decoration: none;
	display: inline-block;
	line-height: 50px;
}

.info-button:hover {
	background-color: #51c9ff;
}

/*个人界面*/
.below p {
	color: white;
	font-size: 40px;
	text-align: left;
	line-height: 1.8;
	text-indent: 20px;
	margin-top: 120px;
	font-family:'YouSheShaYuFeiTeJianKangTi', serif;
}

.bottom {
	width: 300px;
	height: 50px;
	border-radius: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto auto 80px auto;

}
.content {
	width: 450px;
	height: 800px;
	margin-top: 8px;
	margin-left: 10px;
	padding-top: 10px;
	display: inline-block;
	border: 1px;
	border-radius: 25px;
}



.avatar {
	width: 168px;
	height: 168px;
	background-image: url("res/avatar.webp");
	background-size: cover;
    margin: 10px auto;
	padding-top: 10px;
	border: 2px solid #000000;
	border-radius: 100px 100px 100px 100px;
}

.name {
	font-size: 65px;
	text-align: center;
	color: white;
	margin-top: 2px;
	font-family:'YouSheShaYuFeiTeJianKangTi', serif;
}

.below {
	width: 400px;
	height: 500px;
	margin: 20px auto;
	border-radius: 25px;
	display: grid;
}




/*界面*/
.main {
	width: 900px;
	height: 810px;
	margin-top: 8px;
	margin-right: 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	border: 1px;
	border-radius: 25px;
	overflow-y: scroll;
	align-items: center;
	justify-content: center;
	scrollbar-width: none;
}

.main > div {
	width: 800px;
    height: 300px;
	border-radius: 50px;
	margin: 5px;
	background-size: cover;
	padding: 2px;
}

.main > div p {
	color: #85cce7;
	font-size: 65px;
	margin-left: 20px;
	margin-top: 200px;
	font-family:'YouSheShaYuFeiTeJianKangTi', serif;
}


/* 底部*/
.all {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 20px;
}

.get {
	width: 99%;
	height: 1000px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
